llvmlite==0.28.0
Markdown==3.1
mock==2.0.0
mysqlclient==1.4.2.post1
nltk==3.4.1
numba==0.43.1
numpy==1.16.3
pbr==5.2.0
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-mimeparse==1.6.0
pytz==2019.1
requests==2.21.0
resampy==0.2.1
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.11.2
Unidecode==0.4.20
urllib3==1.24.3
Werkzeug==0.15.2
wincertstore==0.2
absl-py==0.7.1
astor==0.7.1
audioread==2.1.6
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
Django==2.2.13
django-extensions==2.1.6
falcon==1.2.0
gast==0.2.2
grpcio==1.20.1
gunicorn==19.7.1
h5py==2.9.0
idna==2.8
inflect==0.2.5
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
librosa==0.5.1
google-cloud-storage==1.15.0
pymysql
-e git+https://github.com/jschneier/django-storages.git@b441b74a17a46eb87ee4b10f60774b9a080c0fe1#egg=django_storages
